*{
    padding: 0%;
    margin: 0%;
}

.gridContenedor{
    background-image: linear-gradient(315deg, #09c7fb 0%, #93fb9d 74%);
    width: 100%;
    height: auto;
}

.galeriaImagenes{
   position: relative;
   width: 100%;
}

.galeriaTitulo1{
    position:relative;
    bottom: 0%;
    color: black;
    font-family: Poppins;
    text-align: center;
    bottom: 30px;
   

}
.galeriaTitulo2{
    position:relative;
    bottom: 0%;
    color: black;
    font-family: Poppins;
    text-align: center;
    bottom: 30px;
   

   

}
.galeriaTitulo3{
    position:relative;
    bottom: 0%;
    color: black;
    font-family: Poppins;
    text-align: center;
    bottom: 30px;
   

   

}
.galeriaTitulo4{
    position:relative;
    bottom: 0%;
    color: black;
    font-family: Poppins;
    text-align: center;
    bottom: 30px;
   

   

}
.galeriaTitulo5{
    position:relative;
    bottom: 0%;
    color: black;
    font-family: Poppins;
    text-align: center;
    bottom: 30px;
   

   

}
.galeriaTitulo6{
    position:relative;
    bottom: 0%;
    color: black;
    font-family: Poppins;
    text-align: center;
    bottom: 30px;
   

}

.volverAtras{
    display: flex;
    position:relative;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(315deg, #09c7fb 0%, #93fb9d 74%);
    font size: 80px;
    text-shadow: 2px 2px 0px #ff7274;
    font-family: Poppins;
    font-size:25px;
}

.botonAtras{
    text-decoration: none;
    margin-left: 40px;
}



.imagenUno{
    display: flex;
    position:relative;
    width: 100%;
    margin: 40px;

}

.imagenDos{
    display: flex;
    position:relative;
    width: 100%;
    margin: 40px;

}

.imagenTres{
    display: flex;
    position:relative;
    width: 100%;
    margin: 40px;
}

.imagenCuatro{
    display: flex;
    position:relative;
    width: 100%;
    margin: 40px;
}

.imagenCinco{
    display: flex;
    position:relative;
    width: 100%;
    margin: 40px;
}

.imagenSeis{
    display: flex;
    position:relative;
    width: 100%;
    margin: 40px;
}







